html {
	background-image: url("htmlfon1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

@font-face {
    font-family: Comic Sans MS; /* Имя шрифта */
    src: url("fonts/ComicSansMS3.ttf"); /* Путь к файлу со шрифтом */
   }

body {
	background-image: url("htmlfon1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

body hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 2px solid #6bc8ad;
	padding: 0;
}

body a {
	color: #2BEEE1;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

body a:hover {
	color: #8CFDF6;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

.page-header {
    background-color: #DBF9F7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 2px solid #5D8979;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #15C198;
    font-size: 36pt;
    text-decoration: none;
}

.page-header p {
    color: #333;
    font-size: 27pt;
}

.page-footer {
    margin-top: 1%;
    background-color: #DBF9F7;
	width: 100%;
	min-height: 30px;
	border-top: 2px solid #5D8979;
	padding: 10px;
	font-size: 1.2em;
	color: #333;
	font-family: Comic Sans MS;
	float: right;
}

.right {
    float: right;
    margin-right: 1%;
}
.left {
    float: left;
    margin-left: 1%;
    }

.content {
    margin-left: 40px;
}

.main_btn {
    border-radius: 5px;
	border: 2px solid #737373;
	box-sizing: border-box;
	padding: 10px;
	color: #737373;
	font-size: 1.2em;
	font-family: Comic Sans MS;
}

.main_btn:hover {
	color: #fff;
	background-color: #737373;
	transition: all.3s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Cute Font';
    font-size: 23pt;
}

.date {
    float: top;
    color: #93E6DD;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: black;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.glyphicon-pencil, .glyphicon-remove, .glyphicon-bullhorn {

    float: bottom;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: black;
}